@model IEnumerable<SSLS.Domain.Concrete.Borrow>
@{
    ViewBag.Title = "借阅统计";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="top-title">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Admin")">控制面板</a></li>
        <li class="active">借阅统计</li>
    </ol>
</section>
<div class="rightbody">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="box-wrap box-wrap-top">
                <div>
                    <b>@Model.Count()</b>
                    <h6>总借阅量</h6>
                </div>
                <i class="glyphicon glyphicon-tasks"></i>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4">
            <div class="box-wrap box-wrap-top">
                <div>
                    <b>@Model.Count(b => b.State == "在借")</b>
                    <h6>在借</h6>
                </div>
                <i class="glyphicon glyphicon-hourglass"></i>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4">
            <div class="box-wrap box-wrap-top">
                <div>
                    <b>@Model.Count(b => b.State != "在借")</b>
                    <h6>已还</h6>
                </div>
                <i class="glyphicon glyphicon-saved"></i>
            </div>
        </div>
    </div>

    <div class="box-wrap">
        <h6 class="box-title">借阅统计</h6>
        <div id="Borrow_Chart" style="height:420px;"></div>
    </div>
</div>

