
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="top-title">
    <ol class="breadcrumb">
        <li class="active">控制面板</li>
    </ol>
</section>
<div class="rightbody">
    <h1>index</h1>
</div>

