@model SSLS.WebUI.Models.BooksListViewModel

@{
    ViewBag.Title = "Search";
}

@*<h4>关键字：@ViewBag.searchString</h4>*@


<div class="Mycontent">
    @foreach (var p in Model.Books)
    {
        @Html.Partial("BookSummary2", p)
    }
</div>