@model SSLS.Domain.Concrete.Reader



<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span></a>
    <ul class="dropdown-menu">
        @if (Model.Id == 0)
        {
            <li>@Html.ActionLink("登录", "Login", "Reader")</li>
            <li><a href="#">注册</a></li>
        }
        else
        {
            <li><a href=""><b>欢迎：</b>@Model.Name</a></li>
            <li>@Html.ActionLink("登出", "Logout", "Reader")</li>
        }
    </ul>
</li>