@model SSLS.WebUI.Models.BooksListViewModel

@{
    ViewBag.Title = "图书列表";
}

<div class="Mycontent">
    @foreach (var p in Model.Books)
    {
        @Html.Partial("BookSummary", p)
    }
</div>
<div class="text-center">
    @Html.PageLinks(Model.PagingInfo,
   x => Url.Action("List", new { categoryId = Model.CurrentCategoryId, page = x }))
</div>
