html,body{
    height:100%;
}

body{
    background: #f6f6f6;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: #202d40;
    background: linear-gradient(90deg,#f46d4c 0,#e4505d);
    border: 0;
}
.navbar .navbar-brand {
    color: #eee;
    font-size:20px;
    font-weight:bold;
}

.navbar-inverse .navbar-right li a{
    color:#eee;
}

.pheight {
    height: 36px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color:#666;
    font-size: 13px;
}

.Mycontent::after {
    content: '';
    display: block;
    clear: both;
}

.Mycontent [class^='col-']{
    padding-left:5px;
    padding-right:5px;
}

.hheight {
    margin-top: 5px;
    font-weight:bold;
    font-size:2vh;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    color:#333;
}
.hheight a{
    text-decoration:none;
    color:#444;
    transition:.3s;
}
.hheight a:hover{
    color:#d9534f;
}
.hheight .label{
    margin-left:10px;
}

.spanPrice {
    color: #f60;
    font-weight: bold;
    font-size: 16px;
}

.book_state{
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    line-height: 23px;
    min-width: 82px;
    position: absolute;
    right: -40px;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index:99
}
.book_state::before{
    border-bottom: 39px solid #d9534f;
    border-top: 0 none;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
}
.state-warning::before{
    border-bottom: 39px solid #f0ad4e;
}
.book_state span{
    left: 0;
    position: absolute;
    right: 0;
    top: 13px;
}

#categories{
    padding-top:24px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.07);
}
#categories .side-bar{
    display: flex;
    flex-wrap: wrap;
    margin-bottom:0;
    justify-content: center;
}
.side-bar .list-group-item {
    border: 0;
    border-radius: 3px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
    transition: all .2s ease-in-out;
    color: #444;
    margin-left:5px;
    padding: 10px 24px;
}

.side-bar .list-group-item.active, .side-bar .list-group-item:hover {
    background-color: #202d40;
    background: linear-gradient(90deg,#f46d4c 0,#e4505d);
    color: #fff;
    margin-bottom: 0;
}

.Myhr{
    margin:0 0 20px;
}

.Myh1{
    position:relative;
    margin-top:10px;
    font-size:4.5em;
    color:#fff;
    font-weight:bold;
    text-align:center;
    font: 700 70px/50px Tahoma;
    text-shadow: -1px 1px 1px #fff;
}
.Myh1 span:nth-child(1)
{
    color:#009688;
}
.Myh1 span:nth-child(2)
{
    color:#2F4056;
}
.Myh1 span:nth-child(3)
{
    color:#e4505d;
}
.Mybank{
    width:100%;
    height: 240px;
    padding-top: 24px;
    background:url('/Pimages/img/topbg.jpg') center;
    background-size: cover;
    position:relative;
}

#mySearch{
    width: 600px;
    margin-left:auto;
    margin-right:auto;
    padding: 25px 30px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 3px;
    position:relative;
}

.Mybank_mark{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,.24);
}

#mySearch p{
    display: flex;
    margin: 0;
}

#SearchString{
    flex-grow: 1;
    padding-left:15px;
   border-radius: 3px 0 0 3px;
   border:0;
}

#mySearch p button[type='submit']{
    border-radius: 0 3px 3px 0;
    border: 0;
    width: 20%;
    height: 45px;
}


.Mythub:hover,.Mylist:hover{
   box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
   transition: .3s;
}

.Mythub{
    position:relative;
    border:0;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 #cecece;
    border-radius:2px;
}
.Mythub  img {
    padding: 5px 45px;
}
.Mythub  img:hover {
   transition: .5s;
   transform:scale(1.05);

}
.Mythub .caption
{
    padding-top:0;
}
.hub_author{
    display:flex;
    align-items:center;
}
.hub_author .glyphicon{
     background: #ec5353;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size:12px;
}
.hub_author a{
    display:inline-block;
    text-decoration:none;
    color:#e4505d;
    font-size:11px;
        overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    max-width:100px;
    height:24px;
    line-height:24px;
    margin-left:5px;
    cursor:pointer;
}
.myadd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.addto{
    display:inline-block;
    border:1px solid #FF6160;
    width:70px;
    height: 30px;
    text-align: center;
    border-radius:1px;
    color: #FF6160;
    line-height: 30px;
    font-weight: bold;
    background: transparent;
    transition:.3s;
    padding-top: 0;
}
.addto:not([disabled]):hover{
   background: #FF6160;
   color:#fff;
   text-decoration:none;
}
.addto[disabled]{
    opacity: 0.4;
}
/*.Mybody{
        background: #f4f4f4;
}*/
.Mythub .label,.Mylist .label {
    display: inline-block;
    height: 100%;
    padding: 5px;
}
.book_label{
    background-color:#202d40;
}

.Mylist{
    display: flex;
    background: #fff;
    padding: 10px;
    margin-bottom:10px;
    border-radius:5px;
    align-items: center;
    box-shadow: 0 1px 2px 0 #cecece;
}
.Mylist .Mylist_body{
    flex-grow: 1;
    padding-right:10px;
}
.Mylist img{
    width:180px;
}

.Mywrapper{
    min-height: 100%;
    margin: 0 auto -50px;
}

.itop {
    position: fixed;
    display:none;
    right: 15px;
    bottom: 70px;
    width: 50px;
    height: 50px;
    line-height:50px;
    text-align:center;
    color:#fff;
    font-size:20px;
    border-radius: 2px;
    background-color: rgb(0,0,0);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    opacity:0.6;
}

.push{
    height:65px;
}

footer{
    height:49px;
    background: #fff;
    line-height: 49px;
    border-top: 1px solid #eee;
}
footer p{
    margin:0;
}

.cart_total{
    background:#fff;
    border-radius:50%;
    color:#e4505d;
    position: relative;
    top: -8px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    font-size:13px;
}
.cart_badge{
    background:#f5f5f5;
    color:#e4505d;
    margin-left:5px;
}
.navbar-nav .glyphicon{
    font-size:17px;
}

.navbar-nav>li>.dropdown-menu{
    border:0;
    background: linear-gradient(90deg,#f46d4c 0,#e4505d);
}
.navbar-nav>li>.dropdown-menu>li>a{
        padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-nav>li>.dropdown-menu>li>a:hover{
    color: #202d40;
    transition:.3s;
}

.breadcrumb a{
    color:#202d40;
}

.foot_bg{
    width:100%;
}

/*登录页样式*/
    .Mypanel {
        max-width: 350px;
        margin: 100px auto 0;
        padding: 80px 10px 10px;
        position: relative;
        border-color: #eee;
        background: rgba(255,255,255,0.9);
    }
    .login_logo{
        width:150px;
        height:150px;
        /*background-image: linear-gradient(to bottom right,#202d40,#2a68c3,#202d40);*/
        background-image:linear-gradient(to bottom right,#e4505d,#f46d4c,#e4505d);
        border-radius:50%;
        position:absolute;
        top:0;
        left:50%;
        margin-left:-76px;
        margin-top:-75px;
        text-align:center;
        line-height:150px;
    }
    .login_logo img{
        width:120px;
        border-radius:50%;
        background:#fff;
    }
    .login_btn{
        margin:5px 0;
        width:100%;
        color:#fff;
        /*background-image: linear-gradient(to bottom right,#202d40,#2a68c3,#202d40);*/
        background-image:linear-gradient(to bottom right,#e4505d,#f46d4c,#e4505d);
        font-weight:bold;
        border:0;
    }
    .login_btn:hover{
        color:#fff;
    }
    .login_btn:active{
       background:#202d40
    }
    .Mypanel .form-control,.Mypanel .login_btn{
        height:auto;
        padding:10px;
        border-radius: 2px;
        box-shadow:none;
    }
    .login_to{
        color:#202d40;
        font-size:12px;
    }
    .login_bg{
        width:100%;
        position:fixed;
        z-index:-1;
        /*opacity:0.8;*/
        left:0;
        background:url('/Pimages/img/book2.jpg') center no-repeat;
        height:100%;
    }
    .myCode{
        display:flex;
    }
    .myCode img{
        border:1px solid #eee;
        width:120px;
    }
    .Register_form .form-group{
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }
    .Register_form .form-group label{
        flex-grow: 1;
        text-align: right;
        padding-right: 20px;
       color: #666;
    }



/*图书详情样式*/
    .Detail_bg {
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 1px 2px 0 #cecece;
    }
    .Detail_bigimg{
        padding:20px;
    }
    .Detail_name{
        font-weight:bold;
    }
    .Detail_name .label{
        font-size:13px;
        margin-left:20px;
    }
    .Myact {
        font-size: 11px;
        color: #d9534f;
        margin-bottom:15px;
    }

    .myDesc {
        border-left: 5px solid #e4505d;
        padding: 10px;
        margin: 20px 0;
        background-color: #ffd7d7;
        padding-bottom: 50px;
    }

    .myMess {
        background: #f5f5f5;
        padding: 10px 10px 20px;
        font-size: 12px;
    }

    .mySize {
        margin: 10px 0;
        padding-left: 10px;
    }

    .myMess > div, .mySize {
        display: flex;
        align-items: center;
    }

    .myMess > div > span, .mySize > span {
        margin: 8px 0;
        width: 100px;
    }

    .myMess > div > p {
        margin-bottom: 0;
    }

    .myPrice {
        color: #d9534f;
        font-size: 20px;
    }

/*图书暂存架样式*/
    #cartTable td, #cartTable th{
        vertical-align: middle;
        text-align: center;
    }
    .Cart_bg{
        background:#fff;
        padding:20px;
        border-top: 5px solid #e4505d;
        box-shadow: 0 1px 2px 0 #cecece;
    }
    .Cart_select{
        display: inline-block;
        vertical-align: middle;
        min-width: 20px;
        min-height: 20px;
    }
    .Cart_select input[type=checkbox]{
        display:none;
    }
    .Cart_select label{
        width: 20px;
        height: 20px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        border: 1px solid #d2d2d2;
        line-height: 18px;
        transition:.1s;
        cursor:pointer;
    }
     .Cart_select label:hover{
        border: 1px solid #5FB878;
     }
    .Cart_select input[type=checkbox]:checked + label{
        background: #5FB878;
        border: 1px solid #5FB878;
    }
    .Cart_datail{
        margin: 0 auto;
        display: inline-block;
    }
    .Cart_datail>div{
        display: flex;
        align-items: center;
         font-size: 14px;
    }
    .Cart_datail>div > span{
        margin: 5px 0;
        width: 80px;
        text-align: left;
    }
    .Cart_book img{
        width:75%;
    }
    .Cart_bg .btn{
        font-size:12px;
    }
.Checkout_reader{
    width: 100%;
    margin-bottom: 20px;
}
.Checkout_reader th{
  text-align: right;
   padding: 10px 20px 10px 0;
}

/*个人中心样式*/
.user {
    display: flex;
    align-items: center;
}

.user .glyphicon-user {
    font-size: 80px;
    margin-bottom: 10px;
}

.awater {
    margin: 0 50px;
}
a.My_block{
    display:block;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#e4505d;
    border-radius:3px;
    padding:0 20px;
    color:#fff;
    text-decoration:none;
    color:#fff;
    margin-bottom:20px;
}
.My_block .glyphicon{
    font-size:40px;
}

.bggreen,.bgblue,.bggray,.bgyellow,bgred{
    color:#fff!important
}
.bggreen{
    background-color:#009688!important;
}
.bgblue{
    background-color:#01AAED!important;
}
.bggray
{
    background:#2F4056!important;
}
.bgyellow{
    background:#FFB800!important;
}
.bgred{
    background:#e4505d!important;
}


@media (max-width: 768px){
    #bs-example-navbar-collapse-1{
        position: absolute;
        z-index:999;
        background: #202d40;
        background: linear-gradient(90deg,#f46d4c 0,#e4505d);
        right: 15px;
        width: 40%;
        text-align: center;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    .Myh1{
        display:block!important;
        font-size:3.0em;
    }
    .Mybank{
        height:180px;
        padding-top:5px!important;
    }
    #mySearch{
        width:90%;
        padding: 15px 30px;
    }
    #mySearch p button[type='submit']{
        width:25%;
        height:40px;
    }
    .Mythub  img {
      padding:5px 14px;
   }
    .Mythub .label{
        max-width:85px;
        overflow: hidden;
        text-overflow:ellipsis;
    }
    .Mylist img{
    width:100px;
   }
    .Mybody .container{
        padding-left:5px;
        padding-right:5px;
    }
    .Mylist .Mylist_body{
        padding:0;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
        color:#eee;
    }
    .hub_author .glyphicon{
        display:none;
    }
    .hub_author a{
        max-width:60px;
    }
    .Cart_bg{
        padding:5px;
    }
    .Cart_datail>div{
        font-size:10px;
    }
    .Cart_datail>div > span{
        width:50px;
    }
    .Cart_book{
        padding:0!important;
    }
    .Cart_book img{
        width:120%;
    }
}