html,body{
    height:100%;
}

body{
    background: #f4f4f4;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: #d9534f;
    border: 0;
}
.navbar .navbar-brand {
    color: #eee;
    font-size:20px;
    font-weight:bold;
}

.navbar-inverse .navbar-right li a{
    color:#ddd;
}

.pheight {
    height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    color:#666;
}

.Mycontent::after {
    content: '';
    display: block;
    clear: both;
}

.Mycontent [class^='col-']{
    padding-left:5px;
    padding-right:5px;
}

.hheight {
    margin-top: 5px;
    font-weight:bold;
    font-size:18px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    color:#333;
}

.spanPrice {
    float: right;
    color: #f60;
    font-weight: bold;
    font-size: 16px;
}


#categories{
    padding-top:24px;
    background: #fff;
}
#categories .side-bar{
    display: flex;
    flex-wrap: wrap;
    margin-bottom:0;
    justify-content: center;
}
.side-bar .list-group-item {
    border: 0;
    border-radius: 3px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
    transition: all .2s ease-in-out;
    color: #444;
    margin-left:5px;
    padding: 10px 24px;
}

.side-bar .list-group-item.active, .side-bar .list-group-item:hover {
    background-color: #d9534f;
    color: #fff;
    margin-bottom: 0;
}

.Myhr{
    margin:0 0 20px;
}

.Myh1{
    margin-top:10px;
    font-size:4.5em;
    color:#fff;
    font-weight:bold;
    text-align:center;
    opacity:0.8;
}

.Mybank{
    width:100%;
    height:300px;
    padding-top:60px;
    background:url('/Pimages/img/topbg.jpg') center;
    background-size: cover;
}

#mySearch{
    width: 600px;
    margin-left:auto;
    margin-right:auto;
    padding: 25px 30px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 3px;
}

#mySearch p{
    display: flex;
    margin: 0;
}

#SearchString{
    flex-grow: 1;
    padding-left:15px;
   border-radius: 3px 0 0 3px;
   border:0;
}

#mySearch p button[type='submit']{
    border-radius: 0 3px 3px 0;
    border: 0;
    width: 20%;
    height: 50px;
}


.Mythub:hover,.Mylist:hover{
   box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
   transition: .3s;
}

.Mythub{
    border:0;
    margin-bottom: 10px;
}
.Mythub  img {
    padding: 14px;
}

/*.Mybody{
        background: #f4f4f4;
}*/
.Mythub .label {
    display: inline-block;
    height: 100%;
    padding: 5px;
}

.Mylist{
    display: flex;
    background: #fff;
    padding: 10px;
    margin-bottom:10px;
    border-radius:5px;
    align-items: center;
}
.Mylist .Mylist_body{
    flex-grow: 1;
    padding:10px;
}
.Mylist img{
    width:200px;
}

.Mywrapper{
    min-height: 100%;
    margin: 0 auto -50px;
}


.push,footer{
    height:49px;
}

footer{
    background: #fff;
    line-height: 49px;
    border-top: 1px solid #eee;
}
footer p{
    margin:0;
}

@media (max-width: 768px){
    #bs-example-navbar-collapse-1{
        position: absolute;
        z-index:999;
        background: rgb(217, 83, 79);
        right: 15px;
        width: 36%;
        text-align: center;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    .Myh1{
        font-size:3.0em;
    }
    .Mybank{
        height:180px;
        padding-top:5px;
    }
    #mySearch{
        width:90%;
        padding: 15px 30px;
    }
    #mySearch p button[type='submit']{
        width:25%;
        height:45px;
    }
    .pheight {
        height:40px;
       -webkit-line-clamp: 2;
    }
    .Mythub  img {
      padding:5px 14px;
   }
    .Mythub .label{
        max-width:85px;
        overflow: hidden;
        text-overflow:ellipsis;
    }
    .Mylist img{
    width:120px;
   }
    .Mybody .container{
        padding-left:5px;
        padding-right:5px;
    }
}